@import "./variables";
@import "./mixins";

@import 'bootstrap/scss/bootstrap';
@import "primeicons/primeicons.css";
@import 'sweetalert2/src/sweetalert2.scss';

@import "primereact/resources/themes/saga-orange/theme.css";

.section-title{
    text-align: center;
    color: $color1;
    margin-bottom: 20px;
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
    @include shadow(text, 0 3px 3px $color2);
}

.content-section{
    padding: 70px 0;
    &.bg{
        background-image: linear-gradient(45deg, $color1-op-10, $color2-op-10);

    }
}